<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Studenta</title>

    <!-- reference CSS file-->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">

</head>

<body>
<div class="container">

    <h3>Dane studenta</h3>
    <hr>

    <form action="#" th:action="@{/students/save}" th:object="${student}" method="POST">

        <input type="hidden" th:field="*{id}" >

        <label th:style="'color: red;'" class="text-right label-control" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" >Name error</label>
        <input type="text" th:field="*{firstName}" placeholder="Imię" class="form-control mb-4 col-4">

        <label th:style="'color: red;'" class="text-right label-control" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" >Last name Error</label>
        <input type="text" th:field="*{lastName}" placeholder="Nazwisko" class="form-control mb-4 col-4">

        <label th:style="'color: red;'" class="text-right label-control" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Email Error</label>
        <input type="text" th:field="*{email}" placeholder="Email" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2">Dodaj</button>
    </form>

    <hr>
    <a th:href="@{/students/list}">Powrót na stronę główną</a>
</div>
</body>
</html>
